@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

@font-face {
    font-family: "lovesvg";
    src: url("..img/love.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0 auto;
	padding: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

body,
html {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bree Serif', serif;
}

.menu {
	width: 100%;
	height: 60px;
	background: #fff;
	display: flex;
	flex-wrap:no-wrap;
	justify-content:center;
	align-items:center;
	align-content:center;
}

.menu-hamburguer {
	max-height: 100%;
	width: 50px;
}

.menu-hamburguer img {
	width: 100%;
	height: 30px;
}

.fundo {
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	align-content:center;
}

.fundo-teste1 {
    background: -webkit-linear-gradient(left, #584b88 , #ae4bcf); 
    background: -o-linear-gradient(right, #584b88, #ae4bcf); 
    background: -moz-linear-gradient(right, #584b88, #ae4bcf); 
    background: linear-gradient(to right, #584b88 , #ae4bcf); 
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
}

.fundo-teste2 {
	background: #fff;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 200px;
}

.logo {
	margin:0 auto;
	text-align: center
	flex-grow:1;
	text-align: center;
}

.logo img {
	width: 400px;
	max-width: 90%;
}

.logo h1{
	color: #fff;
	text-align: center;	
	font-size: 22px;
	font-weight: 0;
}

.imagem-responsiva {
	max-width: 100%;
}

.menu-opcoes {
	flex-grow:1;
}

.menu-principal {
	flex-grow:100;
}

.menu-principal ul {
	width: 90%;
	text-align: right;
	justify-content:flex-end;
}

.menu-principal ul li {
	display: inline-block;
}

.menu-principal ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #754ba0;
	margin-right: 20px;
	borde-color:#ae4bcf;
	transition:0.5s;
	cursor: pointer;
}

.menu-principal ul li a:hover{ 
    color:#584b88;
    border-bottom:1px solid #000;
    cursor: pointer;
}


.botao-menu-atencao {
	border: 1px solid #4e4646;
	padding:3% 10%;
	color: #4e4646!important;
	transition:0.5s;
}

.botao-menu-atencao:hover {
	background:linear-gradient(to right, #584b88 , #ae4bcf); ;
	color: #fff!important
}


.conteudo {
	width: 90%;
	background: #fff;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	align-content:center;
	overflow: hidden;
}

.novidades {
	flex-grow:1;
	align-self:center;
	margin:0 auto;
	text-align: center;	
}

.novidades-texto h2{
	font-size: 26px;
	padding-top: 20px;
	padding-bottom: 20px;
	opacity: 0.5
}

.novidades-texto p{
	opacity: 0.5
}

.novidades-espaco {
	width: 300px;
	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.novidades-img {
	width: 120px;
	height: 120px;

}

.novidades-img img{
	width: 80px;
	height: 80px;
	padding-top: 15%;
}	

.titulo {
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.titulo h1 {
	font-size: 24px;
	color: #754ba0
	  /*background: linear-gradient(to right, #754ba0 , #ae4bcf);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;*/
}

.titulo h1 span{
	font-family: 'Bree Serif', serif;
	font-size: 38px;
	line-height: 20px;
}

.flecha {
	text-align: center;
}

.flecha-svg {
   width: 60px;
   height: 60px;
   position: relative;
   animation-name: flecha;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   text-align:center;
}

@keyframes flecha {
    0%  {
      top:0px;
    }
    50% {
      top:20px;
    }
    100%   {
      top:0px;
    }
}

.rodape {
	width: 100%;
	background: -webkit-linear-gradient(left, #584b88 , #ae4bcf); 
    background: -o-linear-gradient(right, #584b88, #ae4bcf); 
    background: -moz-linear-gradient(right, #584b88, #ae4bcf); 
    background: linear-gradient(to right, #584b88 , #ae4bcf); 
    
}

.tamanho-rodape {
	width: 90%;
	display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:flex-end;
}

.rodape-conteudo {
	flex-grow:1;
	flex-shrink:2;
	flex-basis:300px;
	color: #fff;
	text-align: center;
}

.creditos {
	width: 100%;
	background: -webkit-linear-gradient(left, #584b88 , #ae4bcf); 
    background: -o-linear-gradient(right, #584b88, #ae4bcf); 
    background: -moz-linear-gradient(right, #584b88, #ae4bcf); 
    background: linear-gradient(to right, #584b88 , #ae4bcf); 
    filter:brightness(70%);
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.newsletter {
	width: 100%;
	text-align: left;
	padding-top: 50px;
    padding-bottom: 50px;
}

.newsletter p{
	font-size: 22px;
	width: 90%;
}

.newsl {
	width: 90%;
	background: transparent;
	padding-top: 20px;	
	display: flex;
}

.newsl input{
	background: transparent;
	border: none;
	width:100%;
	border:none;
	border-radius: 0;
	border: 1px solid #fff;
	font-size: 16px;
	color: #fff!important;
	padding: 2% 2%;
}
.newsl button{
	background: #fff;
	border: 1px solid #fff;
	color: #754ba0;
	transition:0.8s;
	width: 100px;
}

.newsl button:hover,
.newsl button:focus {
	background: #fff;
	color: #754ba0;
}

.ajude {
	width: 90%;
	text-align: left;
	padding-top: 50px;
    padding-bottom: 50px;
}

.ajude p {
	padding-top: 20px;
	padding-bottom: 20px;
}

.ajude h3{
	font-size: 22px;
}

.ajude button {
	border: 1px solid #fff;
	background: transparent;
	color: #fff;
	padding: 2% 10%;
	transition:0.8s;
}

.ajude button:hover,
.ajude button:focus {
	background: #fff;
	color: #754ba0;
}

.tela {
  background:#fff;
  width: 500px;
  max-width: 90%;
  box-shadow:0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-bottom: 50px;
}

.toolbar {
  width:100%;
  height:50px;
  background:#E5E3E5;
  transition:0.6s;
}

.tab {
  height:100%;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  float:left;
  text-align:left;
  transition:0.6s;
}

.tab ul {
  margin: 0;
  padding:0;
  padding-left: 5%;
}

.tab ul li{
  display:inline-block;
  width:20px;
  height:20px;
  border-radius:50%;
}

.vermelho {
  background:#FF4E4E!important;
  transition:0.9s;
}
.amarelo {
  background:#FFB92D!important;
  transition:0.9s;
}
.verde {
  background:#00CA3B!important;
  transition:0.9s;
}

.area {
  width:90%;
  margin-top:0px;
  padding-bottom: 20px;
}

.img-grid {
	padding-top: 20px;
}


.gridd {
	fill:red!important;
	background: red
}

.icon {
	height: 15px!important;
	width: 15px!important;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 20%;
}

.redes-sociais {
	width: 100%;
	padding-top: 10px;
}

.redes-sociais ul {
	display: inline-block;
	list-style-type:none;
	padding-right: 30px;
}

.redes-sociais ul li{
	display: inline-block;
	list-style-type:none;
	margin-right: 5px;
}

.redes-sociais img{
	width: 50px;
}

.versao {
	width: 90%;
	text-align: left;
	padding-top: 50px;
    padding-bottom: 50px;
}

.versao p {
	padding-top: 20px;
	padding-bottom: 20px;
}

.versao h3{
	font-size: 22px;
}

.versao button {
	border: 1px solid #754ba0;
	background: #fff;
	color: #754ba0;
	padding: 2% 10%;
	transition:0.8s;
}
.versao button:hover,
.versao button:focus {
	background:#ccc;
}

@media only screen and (max-width: 500px) {
    .menu-principal ul {
		display: none;
	}

	.conteudo {
		width: 100%;
	}
	
	
	.newsletter {
	text-align: center
	}

	.menu-principal-rodape {
		display: none
	}

	.ajude {
		text-align: center;
	}

	.ajude button {
		width: 100%;
	}

	.tamanho-rodape {
		width: 100%;
	}

	.versao {
		text-align: center;
	}

	.tab ul li{
	  display:inline-block;
	  width:15px;
	  height:15px;
	  border-radius:50%;
	}

	.toolbar {
	  height:35px;
	}

	.fundo-teste2 {
		background: #fff;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.titulo {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.menu {
		position: fixed;
		z-index: 2;
	}

	.logo {
		padding-top: 20px;
	}

	.relativo {
		position: relative
	}

	.responsivo-esp {
		text-align: center;
		padding-top: 50px;
	}

	.responsivo-image {
		padding-top: 30px;
	}
}

.responsivo {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

.responsivo-quadro {
	width: 900px;
	max-width: 100%;
	display:flex;
	flex-direction:row!important;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	align-content:center;
	padding-top: 20px;
}

.responsivo-image {
	flex-grow:1;
	flex-basis:300px;
}

.responsivo-texto {
	flex-grow:10;
	text-align: left;
	flex-basis:300px;
}

.responsivo-esp {
	width: 90%;
}

.responsivo-esp p {
	font-size: 16px;
	opacity: 0.5
}

.responsivo-esp button{
	border:1px solid purple;
	background: transparent;
	color: purple;
	padding: 2% 10%;
}

.responsivesvg {
	max-width: 100%;
	width: 300px;
}

.fundo-tes {
height: 100vh;
background: #000;
background: url(../img/teste.jpg);
animation:space 30s infinite alternate linear; 
}

@keyframes space {
	0% {
	    background-position: 300px 300px;
	}
	100% {
	    background-position: -300px -300px;
	}
}

.withcss {
	color: #fff;
	font-family: 'Bree Serif', serif;
	font-size: 46px;
	text-align: center;
}




































































































































































































































































