@import url('https://fonts.googleapis.com/css?family=Open+Sans+900');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

* {
	margin: 0 auto;
	padding: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

body,
html {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bree Serif', serif;
}

.menu {
	width: 100%;
	height: 10%;
	background: #fff;
	display: flex;
	flex-wrap:no-wrap;
	justify-content:center;
	align-items:center;
	align-content:center;
}

.menu-hamburguer {
	max-height: 100%;
	width: 50px;
}

.menu-hamburguer img {
	width: 100%;
	height: 30px;
}

.fundo {
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	align-content:center;

}

.fundo-teste1 {
    background: -webkit-linear-gradient(left, #584b88 , #ae4bcf); 
    background: -o-linear-gradient(right, #584b88, #ae4bcf); 
    background: -moz-linear-gradient(right, #584b88, #ae4bcf); 
    background: linear-gradient(to right, #584b88 , #ae4bcf); 
	width: 100%;
	height: 90%;
}

.fundo-teste2 {
	background: #fff;
	width: 100%;
	height: 100%;
}

.logo {
	margin:0 auto;
	text-align: center
}

.logo img {
	width: 500px;
	max-width: 90%;
}

.logo h1{
	color: #fff;
	text-align: center;	
	font-size: 26px;
	font-weight: 0
}
.menu-opcoes {
	flex-grow:1;
}

.menu-principal {
	flex-grow:100;
}

.menu-principal ul {
	width: 90%;
	text-align: right;
	justify-content:flex-end;
}

.menu-principal ul li {
	display: inline-block;
}

.menu-principal ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #4e4646;
	margin-right: 20px;
	transition:0.5s;
	borde-color:#ae4bcf;
}

.menu-principal ul li a:hover{ 
    color:#584b88;
    font-weight: 900
}

@media only screen and (max-width: 500px) {
    .menu-principal ul {
		display: none;
	}
}





































































































































































































































































































































































